<app-navbar></app-navbar>

<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-md-3 contacts shadow-hard">
        
        </div>
        <div class="col-md-9 chat">
            <div class="text-box">
               <div class="row">
                   <div class="col-md-11 input-text">
                   <div class="form">
                        <div class="form-group">
                          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Digite sua mensagem"></textarea>
                        </div>
                   </div>
                   </div>
                   <div class="col-md-1 btn-send">
                   <img class="mx-auto" src="../../../assets/send-icon.svg" alt="">
                   </div>
               </div>        
            </div>
        </div>
    </div>
</div> -->

<div class="container-fluid">
        <div class="messaging mt-1">
              <div class="inbox_msg">
                <div class="inbox_people">
                  <div class="inbox_chat">
                    <div class="chat_list active_chat">
                      <div class="chat_people">
                        <div class="chat_img rounded-circle"> <img src="../../../assets/user-placeholder.png" alt="sunil"> </div>
                        <div class="chat_ib">
                          <h5>Peter Parker<span class="chat_date">Dez 19</span></h5>
                          <p>Look this pic I took today</p>
                        </div>
                      </div>
                    </div>
                    <div class="chat_list">
                      <div class="chat_people">
                        <div class="chat_img rounded-circle"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                        <div class="chat_ib">
                          <h5>Bill Gates<span class="chat_date">Dez 22</span></h5>
                          <p>Hey man!</p>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="mesgs">
                  <div class="msg_history">
                    <div class="incoming_msg">
                      <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                      <div class="received_msg">
                        <div class="received_withd_msg">
                          <p>Test which is a new approach to have all
                            solutions</p>
                          <span class="time_date"> 11:01 AM    |    June 9</span></div>
                      </div>
                    </div>
                    <div class="outgoing_msg">
                      <div class="sent_msg">
                        <p>Test which is a new approach to have all
                          solutions</p>
                        <span class="time_date"> 11:01 AM    |    June 9</span> </div>
                    </div>
                    <div class="incoming_msg">
                      <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                      <div class="received_msg">
                        <div class="received_withd_msg">
                          <p>Test, which is a new approach to have</p>
                          <span class="time_date"> 11:01 AM    |    Yesterday</span></div>
                      </div>
                    </div>
                    <div class="outgoing_msg">
                      <div class="sent_msg">
                        <p>Apollo University, Delhi, India Test</p>
                        <span class="time_date"> 11:01 AM    |    Today</span> </div>
                    </div>
                    <div class="incoming_msg">
                      <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                      <div class="received_msg">
                        <div class="received_withd_msg">
                          <p>We work directly with our designers and suppliers,
                            and sell direct to you, which means quality, exclusive
                            products, at a price anyone can afford.</p>
                          <span class="time_date"> 11:01 AM    |    Today</span></div>
                      </div>
                    </div>
                  </div>
                  <div class="type_msg">
                    <div class="input_msg_write">
                      <input type="text" class="write_msg" placeholder="Type a message" />
                      <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              
            </div></div>