<app-navbar></app-navbar>
<div class="container">
    <section class="row mt-4 shadow-soft">
        <div class="col-md-4 col-lg-4">
            <img src="../../../assets/user-placeholder.png" alt="" class="shadow-soft img-fluid rounded-circle img-profile mx-auto">
        </div>
        <div class="col-md-8 col-lg-8">
            <div class="">
                <h2 class="name text-primary">{{displayName}}</h2>
                <!-- <small class="local">Localização</small> -->
                <a href="#" class="text-secondary float-right"><small>Editar perfil</small></a>
            </div>
            <hr>
            <div class="mt-3">
                <h6 class="d-block">Ocupação</h6>
                <p>{{job}}</p>
            </div>
            <div class="mt-3">
                <h6>Rating</h6>
                <p class="rating-number">5.0</p>
                <!-- <span class="stars"> Stars</span>-->
            </div>
            <button class="btn btn-outline-primary col-md-3 col-lg-3 mt-3">Chat</button>
        </div>
    </section>

    <section class="row mt-4 shadow-soft mb-4">
        <div class="col-md-4 col-lg-4 border-right">
            <h5>Sobre mim</h5>
            <div class="">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu nibh commodo, sagittis turpis ut, venenatis dolor. Cras ac consectetur leo. 
                    Duis porta egestas nisl, in commodo justo tincidunt volutpat. Nunc nec finibus ipsum. Aenean eget commodo ex. Donec libero lorem, placerat eget tristique nec, hendrerit ac nunc. Morbi tincidunt metus non dapibus scelerisque. Etiam pulvinar tempus mauris, sed aliquet elit. Donec auctor nec massa nec aliquet. 
                    Nulla quis diam fringilla, pharetra est sit amet, aliquam nunc. Nunc facilisis at tellus at accumsan. Proin et feugiat nulla.</p>
            </div>
        </div>
        <div class="col-md-8 col-lg-8">
            <div class="card flex-md-row mb-4 h-md-250">
                <div class="card-body d-flex flex-column align-items-start bg-lightblue card-itens shadow-soft">
                    <h4 class="text-white"> Interessado em aprender</h4>
                    <hr>
                </div>
            </div>
            <div class="card flex-md-row mb-4 h-md-250">
                <div class="card-body d-flex flex-column align-items-start bg-darkblue card-itens shadow-soft">
                    <h4 class="text-white">Interessado em compartilhar</h4>
                    <hr>
                </div>
            </div>                
        </div>
    </section>

</div>